Locations.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Locations">
    <xs:complexType>
      <xs:sequence>
        <xs:element maxOccurs="unbounded" name="Location">
          <xs:complexType>
            <xs:attribute name="PostCode" type="xs:string" use="required" />
            <xs:attribute name="Locality" type="xs:string" use="required" />
            <xs:attribute name="State" type="xs:string" use="optional" />
            <xs:attribute name="Latitude" type="xs:string" use="required" />
            <xs:attribute name="Longitude" type="xs:string" use="required" />
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>